<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left:-15px;">
	<button class="navbar-toggler ms-dialogHidden" type="button">
                            <span class="navbar-toggler-icon">
                            </span>
                        </button>
	<a class="navbar-brand" href="/" id="logo">
		<img src="assets/img/MAF-Logo-200px.png"/>
	</a>
	<div class="collapse navbar-collapse ms-dialogHidden" id="navbarNavDropdown" data-original-title="" title="">
		<ul class="navbar-nav" id="top-menubar">
			<li class="nav-item null">
				<a class="nav-link" href="https://majidalfuttaim.sharepoint.com/sites/COI-TEST/siteassets/coi.aspx/home/tasktrack" 
				style="padding-left: 0!important;">Compliance</a>
			</li>
		</ul>


	</div>
	<div style="width: 72%;margin-top:0%; font-size:14px;">
		<p style="font-size: 20px;padding-left: 30px;color: white;text-align: right;">
			{{ username }}
		</p>
	  </div>
</nav> -->
<mat-toolbar color="primary">
	
	<img  src="https://majidalfuttaim.sharepoint.com/sites/COI-TEST/SiteAssets/assets/Majid Al Futtaim Logo.png" class="maf_logo" />
	<span>
	</span>
	<span class="head-menu"></span>
	<div style="width: 100%;margin-top:1%; font-size:14px;">
		<p style="font-size: 20px;padding-left: 30px;color: white;text-align: right;">
			{{ username }}
		</p>
	  </div>
  </mat-toolbar>

<router-outlet></router-outlet>
<!-- style="position: fixed;bottom: 0;" -->
<div class="footermenu ms-dialogHidden"  data-original-title="" title="">
  <div class="col-xs-12 col-md-12 col-lg-12" data-original-title="" title="">
      <div class="footer-text" style="padding:10px 0px;" data-original-title="" title="">© 2025 Majid Al Futtaim. All rights reserved.
      
      </div>
  </div>
</div>
