.maf_logo {
    height: 35px;
    width: auto;
    margin-left: 10px;
  }
  .mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #31261d;
    --mat-toolbar-container-text-color: white
}
